<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645985451139-prlq6q168pg0ad93daqecshk1k3e50ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645985451139-prlq6q168pg0ad93daqecshk1k3e50ml</string>
	<key>API_KEY</key>
	<string>AIzaSyBzy3L_v1rbIAEolOAuHvmOrUJZgPtgW_U</string>
	<key>GCM_SENDER_ID</key>
	<string>645985451139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-e3b0a</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-e3b0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645985451139:ios:c5d65df80f361051fdafb6</string>
</dict>
</plist>